---
import fetchApi from '../lib/strapi';
import type BlogPost from '../interfaces/blogpost';

const blogposts = await fetchApi<BlogPost[]>({
  endpoint: 'blog-posts', // the content type to fetch
  wrappedByKey: 'data', // the key to unwrap the response
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Strapi & Astro</title>
  </head>

  <body>
    <main>
      <ul>
        {
          blogposts.map((blogpost) => (
            <li>
              <a href={`/blog/${blogpost.slug}/`}>
                {blogpost.title}
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
