---
import fetchApi from '../../lib/strapi';
import type BlogPost from '../../interfaces/blogpost';

export async function getStaticPaths() {
  const blogposts = await fetchApi<BlogPost[]>({
    endpoint: 'blog-posts',
    wrappedByKey: 'data',
  });

  return blogposts.map((blogpost) => ({
    params: { slug: blogpost.slug },
    props: blogpost,
  }));
}
type Props = BlogPost;

const blogpost = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{blogpost.title}</title>
    <link rel="stylesheet" href="/src/styles/global.css">
  </head>

  <body>
    <main>
      <h1>{blogpost.title}</h1>
      <hr />
      <Fragment set:html={blogpost.body_ckeditor} />

    </main>
  </body>
</html>